$bgColor: #111235;
$mobileMenu: #47BFA4;
$normalFont: #FFFFFF;
$specialFont: #47BFA4;
$aboutFont: #FC5422;
$btnColor: #47BFA4;
$btnColorHover: #3ea38d;
$bottomColor: #47BFA4;
$borderColor: hsla(0, 0%, 100%, 0.08);
$orange: #FC5422;