@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf'),
    url('../fonts/Poppins-Light.eot'),
    url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf'),
    url('../fonts/Poppins-Bold.eot'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.ttf') format('truetype');
}

