.footer {
    .navbar {
        background-color: transparent;
        position: static;
    }
    .container {
        padding-left: 80px;
        margin-left: 0px;
        justify-content: space-around!important;
        background-color: $specialFont;
        .navbar__buttons {
            .nav__links {
                li {
                    a {
                        &:hover {
                            color: $bgColor!important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .footer {
        .container {
            .navbar {
                .navbar__logo {
                    .logo__image {
                        display: block;
                    }
                    .footer_disabled {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .container {
            background: transparent;
            padding-left: 15px;
            justify-content: flex-start!important;
            .navbar__buttons {
                display: none;
            }
        }
    }
    .single-post {
        .footer {
            .navbar__logo {
                .logo__image {
                    display: none;
                }
                .footer_disabled {
                    display: block!important;
                }
            }
        }
        
    }
}