// Fonts
@import 'fonts';

// Colors
@import 'colors';
// Variables - buttons background, font size, etc.
@import 'variables';

@import 'footer';
html,
body {
    
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Bold', sans-serif;
}

@media screen and (max-width: 1367px) {
    .header__welcome, .article__start, .article__text {
        padding: 15px;
    }
    section, article {
        .container {
            padding: 15px;
        }
    }
}

// @media screen and (max-width: 1024px) {
//     .header 
// }
body {
    color: $normalFont;
}
.main-page, .articles-page {
    
    background-color: $bgColor;
}
a,
ul,
li {
    color: $normalFont;
    transition: .5s;
    text-decoration: none;
}

strong {
    color: $specialFont;
}

.container {
    max-width: 1365px;
    margin: 0 auto;
    display: flex;
}

.container-fluid {
    max-width: 100%;
}

.navbar {
    max-width: 100vw;
    width: 100%;
    background-color: $bgColor;
    height: 100px;
    border-bottom: 1px solid $borderColor;
    position: absolute;
    top:0;
    left:0;
    z-index: 99;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .navbar__logo {
            display: flex;
            align-items: center;
            .logo__image {
                height: 72px;
            }
        }
        .navbar__buttons {
            .nav__links {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    margin: 0px 34px;
                    a {
                        &:hover {
                            color: $specialFont;
                        }
                    }
                }
            }
        }
    }
}

.header {
    max-width: 100vw;
    width: 100%;
    padding-top: 100px;
    height: calc(100vh - 100px);
    min-height: 1024px;
    border-bottom: 1px solid $borderColor;
    .header__bg {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:url('../img/header__bg.png');
        background-size: 1159px;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 100%;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
        svg:nth-child(1) {
            position: relative;
            top: 100px;
        }
        svg:nth-child(2) {
            position: relative;
            left: -171px;
            top: 377px;
        }
        
        .bg__text, .bg__text-mobile {
            position: absolute;
            right: 0;
            bottom:-42px;
            opacity: .06;
            .text__homepage {
                padding-right: 5px;
                line-height: 18px;
                text-align: right;
                font-size: 112px;
            }
        }
    }
    .container {
        flex-direction: column;
        height: calc(100vh - 100px);
    }
    .header__welcome {
        height: 100%;
        display: flex;
        flex-direction: column;
        .header__btn {
            button {
                background-color: $btnColor;
                color: $normalFont;
                font-family: 'Poppins-Bold';
                width: 234px;
                height: 60px;
                border: none;
                overflow: hidden;
                transition: .3s;
                position: relative;
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $btnColorHover;
                    transition: .3s;
                    content: 'Zobacz ofertę';
                }
                &:hover {
                    cursor: pointer;
                    &::after {
                        top: 0;
                    }
                }
            }
        }
        .header__title {
            .title__name {
                font-size: 86px;
            }
            .title__desc {
                font-size: 30px;
                max-width: 668px;
            }
        }
    }
    .header__scrollDown {
        position: relative;
        bottom: 150px;
        a {
            &:hover {
                span:nth-child(1) {
                    margin-top: -26px;
                }
            }
            display: flex;
            align-items: center;
            .text {
                display: flex;
                flex-direction: column;
                height: 25px;
                overflow: 
                hidden;
                
            }
            span {
                transition: cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
                font-family: 'Poppins-Light';
                margin-left: 14px;
            }
            
        }
    }
}
.aboutme, .blog, .contact {
    position: relative;
    &::before {
        position: absolute;
        content:'';
        width: 25%;
        z-index:-1;
        height: 100%;
        left: 0;
        top: 0;
        border-right: 1px solid $borderColor;
    }
    &::after {
        position: absolute;
        content:'';
        width: 25%;
        z-index: -1;
        height: 100%;
        left: 50%;
        top: 0;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
    }
}
.blog {
    &::after {
        content: 'B';
        font-size: 86px;
    }
}
.aboutme {
    strong {
        color: #fff;
        font-family: 'Poppins-Bold';
    }
    .container {
        padding-top: 80px;
        flex-direction: row;
        flex-wrap: wrap;
        .aboutme__main, .aboutme__extra {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-family: 'Poppins-Light';
            margin-top: 20px;
            .main__title, .extra__title {
                margin-right: 166px;
                align-items: center;
                font-family: 'Poppins-Bold';
            }
            .main__title {
                h2 {
                    font-size: 35px;
                    color: $orange;
                    line-height: 17px;
                }
            }
            .extra__title {
                h3 {
                    color: $orange;
                    font-size: 16px;
                }
            }
            .main__desc, .extra__desc {
                flex: 1 1 541px;
                max-width: 541px;
            }
        }
        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .aboutme__img {
                max-width: 397px;
                flex: 1 1 397px;
                font-size: 30px;
                margin-left: 120px;
                margin-top: 40px;
                strong { 
                    color: $specialFont;
                    
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
.blog {
    .container {
        .blog__title {
            margin-right: 97px;
            color: $orange;
           h2 {
               font-size: 35px;
           }
        }
        .blog__list {
            width: 100%;
            display: flex;
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
            li {
                display: flex;
                flex-wrap: wrap;
                max-width: 480px;
                width: 100%;
                max-height: 440px;
                .blog__article {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    z-index: 2;
                    .article__info {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: hsla(0, 0%, 0%, 0.6);
                        a {
                            color: $specialFont;
                        }
                        .article__date {
                            position: absolute;
                            bottom: 10px;
                            font-family: 'Poppins-Light';
                            display: flex;
                            align-items: center;
                            p {
                                font-size: 10px;
                            }
                            svg {
                                margin-bottom: 2px;
                                margin-right: 10px;
                            }
                        }
                        
                    }
                    img {
                        z-index: -1;
                        width: 100%;
                        object-fit: cover;
                        transition: .5s;
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        .blog__btn {
            justify-content: center;
            display: flex;
            width: 100%;
            margin-top: 102px;
            margin-bottom: 150px;
            a {
                display:flex;
                justify-content: center;
                align-items: center;
                background-color: $btnColor;
                color: $normalFont;
                font-family: 'Poppins-Bold';
                width: 234px;
                height: 60px;
                border: none;
                overflow: hidden;
                transition: .3s;
                position: relative;
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $btnColorHover;
                    transition: .3s;
                    content: 'Zobacz więcej';
                }
                &:hover {
                    cursor: pointer;
                    &::after {
                        top: 0;
                    }
                }
            }
        }
    }
}
.contact {
    .container {
        flex-direction: column;
        overflow: hidden;
        .contact__info {
            flex-wrap: wrap;
            display: flex;
            width: 100%;
           
            .contact__map {
                width: 100%;
                max-height: 650px;
                overflow: hidden;
                background-image:url('../img/map.png');
                height: 650px;
                background-repeat: no-repeat;
                background-position-x: 50%;
                background-size: cover;
            }
            .contact__title {
                color: $orange;
                margin-right: 166px;
                h2 {
                    line-height: 17px;
                    font-size: 35px;
                }
                h3 {
                    padding-top: 5px;
                    font-size: 16px;
                }
            }
            .contact__desc {
                .contact__address {
                    line-height: 17px;
                    margin-left: 90px;
                }
            }
        }
        .map__info {
            max-width: 100vw;
            overflow: hidden;
            width: 100vw;
            max-height: 650px;
            margin-bottom: 30px;
            flex-wrap: nowrap;
            .contact__title {
                margin-right:100px!important;
                max-width: 120px;
                width: 100%;
            }
        }
    }
}
// Main Page styles 
@import 'main-page';

@media screen and (max-height: 840px) {
    .header {
        height: auto;
        .container {
            .header__scrollDown {
                bottom: 0px;
            }
        }
    }
}
@media screen and (max-width: 1367px) {
    .header {
        .container {
            .header__scrollDown {
                bottom: 30px;
            }
        }
    }
    .aboutme {
        .container {
            .aboutme__main, .aboutme__extra {
                .main__title, .extra__title {
                    margin-right: 84px;
                }
            }
            .content {
                .aboutme__img {
                    margin-left: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 1255px) {
    
    .aboutme {
        .container {
            .aboutme__main, .aboutme__extra {
                .main__title, .extra__title {
                    margin-right: 42px;
                }
            }
            .content {
                .aboutme__img {
                    margin-left: 40px;
                    max-width: 347px;
                }
            }
        }
    }
    .blog {
        .container {
            flex-wrap: wrap;
            .blog__list {
                width: 100%;
                justify-content: center;
                ul {
                    justify-content: center;
                    padding-left: 0px;
                }
            }
        }
    }
    .contact {
        .container {
            .map__info {
                flex-wrap: wrap!important;
                width: 100%;
                
            }
            .contact__info {
                .contact__desc {
                    .contact__address {
                        margin-left: 0px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1143px) {
    .navbar {
        .container {
            .navbar__buttons {
                .nav__links {
                    li {
                        margin: 0px 18px;
                    }
                }
            }
        }
    }
    .aboutme {
        .container {
            .aboutme__main, .aboutme__extra{
                .main__desc, .extra__desc {
                    max-width: 100%;
                    flex: 1 1 100%;
                }
            }
            .content {
                flex-direction: column-reverse;
                .aboutme__img {
                    display: flex;
                    max-width: 414px;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto;
                }
            }
        }
        
    }
}
@media screen and (min-width: 968px){
    .header {
        .header__bg {
            .bg__text-mobile {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 968px) {
    .header {
        min-height: auto;
        padding-bottom: 40px;
        .header__bg {
            
            background-size: 100%;
            background-position-y:20%;
            svg {
                display: none;
            }
            .bg__text {
                display: none;
            }
            .bg__text-mobile {
                width: 100%;
                text-align: center;
                top: 100px;
                justify-content: center;
                display: flex;
                .text__homepage {
                    font-size: 78px;
                    text-align: center;
                    line-height: 82px;
                }
            }
        }
        .container {
            .header__welcome {
                justify-content: flex-end;
                .header__title {
                    .title__name {
                        font-size: 34px;
                    }
                    .title__desc {
                        font-size: 18px;
                    }
                }
            }
            .header__scrollDown {
                bottom: 0px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
    .aboutme {
        .container {
            padding-top: 20px;
        }
    }
    .blog {
        .container {
            .blog__btn {
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
    
}

@media screen and (min-width: 768px) {
    .navbar {
        .navbar__buttons {
            display: flex;
        }
        .navbar__mobile {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        transition: .5s;
        .navbar__buttons {
            display: none;
        }
        .navbar__mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            flex-direction: column;
            position: absolute; 
            right: 20px;
            top: 30px;
            &:hover {
                cursor: pointer;
            }
            span {
                transition: .3s;
                width: 100%;
                height: 5px;
                background-color: #fff;
                margin: 5px;
            }
        }
        .expanded {
            span:nth-child(1) {
                transform: translateY(20px) rotate(45deg);
            
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
    .mobile_menu {
        height: 100vh!important;
        background-color: $mobileMenu;
        .container {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            .navbar__logo {
                width: 100%;
                a {
                    margin: 0 auto;
                    display: flex;
                }
                img  {
                    margin: 0 auto;
                }
            }
            .navbar__buttons {
                display: flex;
                .nav__links {
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding-left: 0px;
                    text-align: center;
                    li {
                        margin: 9px 0px;
                        a {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 567px) {
    .header {
        .container {
            .header__welcome {
                .header__btn {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    .blog {
        .container {
            .blog__btn {
                a {
                    width: 100%;
                }
            }
        }
    }
    .contact {
        .container {
            .map__info { 
                max-height: 500px;
                .contact__map {
                    background-position-x: 60%;
                }
            }
        }
    }
}

@import 'articles';